$grid__bp-md: 64;
$grid__cols: 12;
$breakpoint-tablet: 1060px;
$breakpoint-mobile: 650px;

.container 
  max-width: 64rem;
  height: 100%;
  margin: 0 auto;

  .body
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;


.topBar
  height: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1 rem;
  align-items: center;
  justify-items: center;
  margin-bottom: 1rem;

.listNameButton
  width: 200px;
  height: 200px;
  border-radius: 25px;

.form
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  border: 1px solid #ccc;
  border-width: 2px;
  background: rgb(208, 186, 253);

@media (max-width: $breakpoint-tablet)
  .container
    body
      grid-template-columns: repeat(2, 1fr);

@media (max-width: $breakpoint-mobile)
  .container
    body
      grid-template-columns: repeat(1, 1fr);
