.topBar
  height: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: #2196f3;

.listNameButton
  width: 200px;
  height: 200px;
  border-radius: 25px;
