/* Make everything have max 64rem width and margin to middle */
.main {
  max-width: 64rem;
  height: 100%;
  margin: auto;
}
/* Align Test in center when there is no returnButton */
.topBarNoReturn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  margin-bottom: 0.5rem;
}

/* Align items with even spaces around them */
.topBar {
  display: flex;
  height: 150px;
  width: 100%;
  margin-bottom: 0.5rem;
  justify-content: space-evenly;
  padding-right: 13rem;
}

/* Align items in center */
.topBar h1,
.returnButton {
  align-self: center;
}

/* Align listNameButtons in rows with three items when wide screen */
.lists,
.tasks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
}

/* Align button to middle and having a bit space over it */
.addListButton,
.addTaskButton {
  margin: 1rem 0rem;
  text-align: center;
}

/* Align items in center with name tags starting in the same line as the input box*/
.createTaskForm {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.taskHeadline {
  display: flex;
  justify-content: space-between;
}

.taskHeadline input {
  margin-top: -5px;
  transform: scale(1.5);
}

.deleteTask {
  margin-top: -15px;
}

.deleteList {
  margin-top: -50px;
  margin-left: 200px;
  margin-bottom: 25px;
}

.taskName {
  padding-left: 1rem;
  margin-top: -10px;
}

/* Align listNameButtons in rows with 2 items when middle wide screen */
@media (max-width: 960px) {
  .lists,
  .tasks {
    grid-template-columns: repeat(2, 1fr);
  }
  .topBar {
    padding-right: 8rem;
  }
}

/* Align listNameButtons in rows with1 item when small screen */
@media (max-width: 650px) {
  .lists,
  .tasks {
    grid-template-columns: repeat(1, 1fr);
  }
  .topBar {
    padding-right: 3rem;
  }
}
