.topBar {
  height: 150px;
  width: 100%;
  text-align: center;
}

.add-cw {
  animation: add-spin-cw infinite 30s linear;
  height: 300px;
}

.add-ccw {
  animation: add-spin-ccw infinite 30s linear;
  height: 300px;
}

.listNameButton {
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

@keyframes add-spin-cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes add-spin-ccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
